// ${color}-${field.id}-${number_of_kids}  **For White**
.t-white-text2-1 {
  top: 50%;
  right: 24%;
}
.t-white-text2-2 {
  top: 50%;
  right: 24%;
}
.t-white-text3-2 {
  top: 50%;
  right: 26%;
}
.t-white-text2-3 {
  top: 50%;
  right: 31%;
}
.t-white-text3-3 {
  top: 50%;
  right: 24%;
}
.t-white-text4-3 {
  top: 50%;
  right: 28%;
}
.t-white-text2-4 {
  top: 50%;
  right: 36%;
}
.t-white-text3-4 {
  top: 50%;
  right: 26%;
}
.t-white-text4-4 {
  top: 50%;
  right: 26%;
}
.t-white-text5-4 {
  top: 50%;
  right: 35%;
}
.t-white-text2-5 {
  top: 50%;
  right: 38%;
}
.t-white-text3-5 {
  top: 50%;
  right: 27%;
}
.t-white-text4-5 {
  top: 50%;
  right: 26%;
}
.t-white-text5-5 {
  top: 50%;
  right: 32%;
}
.t-white-text6-5 {
  top: 50%;
  right: 42%;
}
.t-white-text2-6 {
  top: 50%;
  right: 44%;
}
.t-white-text3-6 {
  top: 50%;
  right: 31%;
}
.t-white-text4-6 {
  top: 50%;
  right: 26%;
}
.t-white-text5-6 {
  top: 50%;
  right: 28%;
}
.t-white-text6-6 {
  top: 50%;
  right: 35%;
}
.t-white-text7-6 {
  top: 50%;
  right: 44%;
}

// ${color}-${field.id}-${number_of_kids}  **For Black**
.t-black-text2-1 {
  top: 50%;
  right: 26%;
}
.t-black-text2-2 {
  top: 50%;
  right: 28%;
}
.t-black-text3-2 {
  top: 50%;
  right: 27%;
}
.t-black-text2-3 {
  top: 50%;
  right: 31%;
}
.t-black-text3-3 {
  top: 50%;
  right: 24%;
}
.t-black-text4-3 {
  top: 50%;
  right: 31%;
}
.t-black-text2-4 {
  top: 50%;
  right: 37%;
}
.t-black-text3-4 {
  top: 50%;
  right: 27%;
}
.t-black-text4-4 {
  top: 50%;
  right: 27%;
}
.t-black-text5-4 {
  top: 50%;
  right: 36%;
}
.t-black-text2-5 {
  top: 50%;
  right: 41%;
}
.t-black-text3-5 {
  top: 50%;
  right: 29%;
}
.t-black-text4-5 {
  top: 50%;
  right: 27%;
}
.t-black-text5-5 {
  top: 50%;
  right: 35%;
}
.t-black-text6-5 {
  top: 50%;
  right: 43%;
}
.t-black-text2-6 {
  top: 50%;
  right: 45%;
}
.t-black-text3-6 {
  top: 50%;
  right: 33%;
}
.t-black-text4-6 {
  top: 50%;
  right: 27%;
}
.t-black-text5-6 {
  top: 50%;
  right: 29%;
}
.t-black-text6-6 {
  top: 50%;
  right: 36%;
}
.t-black-text7-6 {
  top: 50%;
  right: 45%;
}

// ${color}-${field.id}-${number_of_kids}  **For Colored**
.t-colored-text2-1 {
  top: 50%;
  right: 24%;
}
.t-colored-text2-2 {
  top: 50%;
  right: 27%;
}
.t-colored-text3-2 {
  top: 50%;
  right: 25.5%;
}
.t-colored-text2-3 {
  top: 50%;
  right: 29%;
}
.t-colored-text3-3 {
  top: 50%;
  right: 24%;
}
.t-colored-text4-3 {
  top: 50%;
  right: 28%;
}
.t-colored-text2-4 {
  top: 50%;
  right: 36%;
}
.t-colored-text3-4 {
  top: 50%;
  right: 26%;
}
.t-colored-text4-4 {
  top: 50%;
  right: 26%;
}
.t-colored-text5-4 {
  top: 50%;
  right: 35%;
}
.t-colored-text2-5 {
  top: 50%;
  right: 38%;
}
.t-colored-text3-5 {
  top: 50%;
  right: 27%;
}
.t-colored-text4-5 {
  top: 50%;
  right: 26%;
}
.t-colored-text5-5 {
  top: 50%;
  right: 32%;
}
.t-colored-text6-5 {
  top: 50%;
  right: 42%;
}
.t-colored-text2-6 {
  top: 50%;
  right: 44%;
}
.t-colored-text3-6 {
  top: 50%;
  right: 31%;
}
.t-colored-text4-6 {
  top: 50%;
  right: 26%;
}
.t-colored-text5-6 {
  top: 50%;
  right: 28.5%;
}
.t-colored-text6-6 {
  top: 50%;
  right: 36%;
}
.t-colored-text7-6 {
  top: 50%;
  right: 44%;
}
